body{
  background-color: black;
}
.splide__pagination{
  display: none !important;
}
.card-img:hover{
  transform: scale(0.95);
  transition: 0.25s;
}
.register input{
  color: white;
}
.input-otp input{
  border: none;
  border-bottom: 1px solid red;
}